/*###########               Html styling            ##############*/


/*************************** Accueil ***********************************/


.logo {
    height: 150px;
    width: 250px;
}

#glyph {
    color : black;
    margin-bottom: 200px;
}
.accueilBandeau {
    height: 10px;
}

.catTitre {
    text-align: center;
    padding-bottom:10px;
}


/*************************** ARTICLE ***********************************/
.nom{
    text-align: left;
}
.newsName{
    padding-left: 5px;
}
.recherche{
    border-right: 1px solid grey;
    height: 800px;
    padding-top: 20em;
}
.articleDetailTitre{
    text-align: center;
}
.articleDetailContenu{
    margin-top: 20px;
}

/*************************** ISOTOPE ***********************************/
* { box-sizing: border-box; }


/* ---- input ---- */

input[type="text"] {
    font-size: 20px;
}

/* ---- isotope ---- */

.grid {
    margin-left: 9vw;
    margin-right: 1px;

}

/* clear fix */
.grid:after {
    content: '';
    display: block;
    clear: both;
}

/* ---- .element-item ou Gestion des blocs Isotope ---- */

.grid-sizer,
.element-item {
    position: relative;
    width: 45%;
    display: block;
    margin: 7px;
    min-width: 250px;
    height: 320px;
    color: black;
    background-color: grey;
}
.motclef{
    font-size: 9px;
    display: none;
}

/* Carte page Front*/
.NewsName img{
    height: 80px;
    width: auto;
}

.NewsName h2{
    font-size: 20px;
}

.element-item > * {
    margin: 0;
    padding: 0;
}
.infoNews{
    font-size: 20px;
}
.nomNews{
    font-size: 20px;
    margin-bottom: 35px;
}
.input-group{
    margin-bottom: 40px;
    z-index: 0;
}
.textNews{
    font-size: 15px;
}

