/*###########               Html styling            ##############*/


/*************************** Accueil ***********************************/


.logo {
    height: 150px;
    width: 250px;
}

#glyph {
    color : black;
    margin-bottom: 200px;
}
.accueilBandeau {
    height: 10px;
}

.catTitre {
    text-align: center;
    padding-bottom:10px;
}
.articleDetailContenu{
    font-size: 20px;
    padding-bottom: 30px;
}
.imgDetailTitre{
    background-image: url("img/yee.jpg");
}
.articleDetailNom{
    color: white;
    font-weight: bold;
    padding-top: 25px;
    padding-bottom: 10px;
}
.imgthomas{
     height: 160px;
 }
.imgThomasCentre{
    margin-top: -80px;
    margin-left: 45%;
}
.imgArticleRecherche{
    height: 160px;
    width: 100%;
    padding-left: 10px;
    padding-right: 15px;
    color: white;
}
.articleNote{
    border-top: 1px solid grey;
}

/*************************** ARTICLE ***********************************/
.nom{
    text-align: left;
}
.newsName{
    padding-left: 5px;
}
.recherche{
    border-right: 1px solid grey;
    height: 100%;
    padding-top: 20em;
    width: 13%;
}
.articleDetailTitre{
    text-align: center;
}
.articleDetailContenu{
    margin-top: 20px;
}
.checkboxArticle{
    margin-top: 15px;
}
.commentaireEdit{
    margin-top: 20px;
    margin-left: 5%;
    width: 90%;
    height:100px;
    border:1px solid grey;
    padding: 8px 0 0 10px;
}
.boutonPublier{
    margin-top: -6px;

}
/*************************** Ranger ***********************************/
.bodyRang{
    background-color: #7a869d;
}
.h1Rang{
    font-size: 70px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.imgRang{
    height: 100px;
}
/*************************** ISOTOPE ***********************************/
.imgFooter{
    width: 100%;
}

/*************************** ISOTOPE ***********************************/
* { box-sizing: border-box; }


/* ---- input ---- */

input[type="text"] {
    font-size: 20px;
}

/* ---- isotope ---- */

.grid {
    margin-left: 9vw;
    margin-right: 1px;

}

/* clear fix */
.grid:after {
    content: '';
    display: block;
    clear: both;
}

/* ---- .element-item ou Gestion des blocs Isotope ---- */

.grid-sizer,
.element-item {
    position: relative;
    width: 45%;
    display: block;
    margin: 7px;
    min-width: 250px;
    height: 320px;
    color: black;
    background-color: grey;
}
.motclef{
    font-size: 9px;
    display: none;
}

/* Carte page Front*/
.NewsName img{
    height: 80px;
    width: auto;
}

.NewsName h2{
    font-size: 20px;
}

.element-item > * {
    margin: 0;
    padding: 0;
}
.infoNews{
    font-size: 20px;
}
.nomNews{
    font-size: 20px;
    margin-bottom: 35px;
    color: white;
}
.input-group{
    margin-bottom: 40px;
    z-index: 0;
}
.textNews{
    font-size: 15px;
}
/*************************** notation étoile ***********************************/
.rating a,
.rating label {
    float:right;
    color: #aaa;
    text-decoration: none;
    -webkit-transition: color .4s;
    -moz-transition: color .4s;
    -o-transition: color .4s;
    transition: color .4s;
    font-size: 5em;
}
.rating label:hover ~ label,
.rating input:focus ~ label,
.rating label:hover,
.rating a:hover,
.rating a:hover ~ a,
.rating a:focus,
.rating a:focus ~ a		{
    color: orange;
    cursor: pointer;
}
.rating2 {
    direction: rtl;
    margin-right: 34%;
}
.rating2 a {
    float:none
}