<img src="{{ asset('image/user1.png')}}" alt="...">
<div class="caption">
    <h3 class="userTitre">{{ articles.nom }}</h3>
    <p class="userTexte">Système de culture : {{ articles.culture }}<br/>
    <p class="userTexte">Système de culture : {{ articles.note }}<br/>
</div>

