



<div class="container">
    <div class="note">
        <h2 class="catTitre">Contenus populaires</h2>
        <div class="row">
            <div class="col-lg-6">
                <div class="thumbnail">
                    <img src="" alt="...">
                    <div class="caption">
                        <h3>Top Star</h3>
                        <p>...</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="thumbnail">
                    <img src="{{ asset('image/user1.png')}}" alt="...">
                    <div class="caption">
                        {% for article in articles %}
                        <h3 class="unetitle"> {{ article.nom }} </h3>
                    </div>
                    {% endfor %}
                        <h3 class="userTitre"></h3>
                        <p class="userTexte"><br/>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="thumbnail">
                    <img src="..." alt="...">
                    <div class="caption">
                        <h3>Top Star</h3>
                        <p>...</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="thumbnail">
                    <img src="{{ asset('image/user2.png')}}" alt="...">
                    <div class="caption">
                        <h3 class="userTitre"></h3>
                        <p class="userTexte"></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="thumbnail">
                    <img src="..." alt="...">
                    <div class="caption">
                        <h3>Top Star</h3>
                        <p>...</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="thumbnail">
                    <img src="{{ asset('image/user3.png')}}" alt="...">
                    <div class="caption">
                        <h3 class="userTitre"></h3>
                        <p class="userTexte"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
