<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>HubAgri</title>
    <link rel="stylesheet" href="{{ asset('style/bootstrap/css/bootstrap.css')}}">
    <link rel="stylesheet" href="{{ asset('style/style.css')}}">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="accueilBandeau">
                <a class="logo href="{{ path('accueil') }}"> <img src="{{ asset('image/imgDefault.png')}}" alt="" class="img-responsive logo" /> </a>
            </div>
            <div class="col-lg-offset-8 col-lg-4">
                <ul class="nav navbar-nav "id="glyph">
                     <li><a href="#"><span class="glyphicon glyphicon-envelope"></span> Alert</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> S'identifier</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> S'enregistrer</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="jumbotron">
        <div class="container">
            <h1>Hub Agri</h1>
            <p>La plateforme trop bien</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">En savoir plus</a></p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <h2 class="catTitre">LOREM IPSUM</h2>
            <div class="rubrique">

                <div class="col-lg-6">
                    <a href="#" class="thumbnail">
                        <img src="..." alt="...">
                    </a>
                 </div>

               <div class="col-lg-6">
                <a href="#" class="thumbnail">
                    <img src="..." alt="...">
                </a>
                </div>
           </div>
         </div>
        <div class="row">
            <div class="rubrique">
                <div class="col-lg-6">
                    <a href="#" class="thumbnail">
                        <img src="..." alt="...">
                    </a>
                </div>

                <div class="col-lg-6">
                    <a href="#" class="thumbnail">
                        <img src="..." alt="...">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="note">
            <h2 class="catTitre">Contenus populaires</h2>
            <div class="row">
                <div class="col-lg-6">
                    <div class="thumbnail">
                        <img src="..." alt="...">
                        <div class="caption">
                            <h3>Top Star</h3>
                            <p>...</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="thumbnail">
                        <img src="..." alt="...">
                        <div class="caption">
                            <h3>Top User</h3>
                            <p>...</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="thumbnail">
                        <img src="..." alt="...">
                        <div class="caption">
                            <h3>Top Star</h3>
                            <p>...</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="thumbnail">
                        <img src="..." alt="...">
                        <div class="caption">
                            <h3>Top User</h3>
                            <p>...</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="thumbnail">
                        <img src="..." alt="...">
                        <div class="caption">
                            <h3>Top Star</h3>
                            <p>...</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="thumbnail">
                        <img src="..." alt="...">
                        <div class="caption">
                            <h3>Top User</h3>
                            <p>...</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="note">
            <h2 class="catTitre">Derniers articles</h2>
            <div class="row">
                <div class="col-lg-6">
                    <div class="thumbnail">
                        <img src="..." alt="...">
                        <div class="caption">
                            <h3>article 1</h3>
                            <p>...</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="thumbnail">
                        <img src="..." alt="...">
                        <div class="caption">
                            <h3>article 2</h3>
                            <p>...</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="thumbnail">
                        <img src="..." alt="...">
                        <div class="caption">
                            <h3>article 3</h3>
                            <p>...</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="thumbnail">
                        <img src="..." alt="...">
                        <div class="caption">
                            <h3>article 4</h3>
                            <p>...</p>
                        </div>
                    </div>
                </div>


                <div class="footer">
                    <h2 class="catTitre">footer</h2>

                </div>


</body>




</html>
